<%= form_for [@post, Comment.new], remote: true do |f| %>

     <%= f.label :body %>
<%= f.text_area :body, rows: 2, class: 'form-control', placeholder: "Enter comment body" %>
     <%= f.submit "Save", class: 'btn btn-success' %>
   </div>
   <% end %>